/*
* 登陆样式
* @author:　<qubaoming@gmail>;
*/
.login-wraper {
	background: url('../../img/login/login_bg.jpg')  0 0 no-repeat;
	position: fixed;
	background-size: cover;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	.login-form {
		position: absolute;
		width: 500px;
		height: 400px;
		background: #f0c;

		right: 100px;
		top:50%;
		margin-top: -200px;

		fieldset {
			outline: none;
			border: none;
		}
	}
	.login-logo {
		position: absolute;
		top: 300px;
		left: 300px;
	}
}