/*
* detail样式
* @author:　<qubaoming@gmail>;
*/
.detail {
	.content {
		width: auto;
	}
	#result {
		padding: 20px;
		border: 1px solid gray;
		position: relative;
		.clearfix();
		.result-content {
			min-height: 50px;
			width: auto;
		}
	}


	.detail-ok {
		position: absolute;
		right: 20px;
		bottom: 10px;
	}
	#human_diagnose {
		.clearfix();
		margin-top: 20px;
	}
	#selected_content {
		float: left;
		margin-left: 30px;
		.content {
			width: auto;
			margin-top: 20px;
			margin-bottom: 10px;
		}
	}

	
}