/*
* 注册页面样式
* @author:　<qubaoming@gmail>;
*/

.body-test {
	input {
		width: 100%;
	}
	input[type="radio"] {
		width: auto;
		margin-left: 15px;
		margin-right: 5px;
		position: relative;
		top: -3px;
	}
}