#main table tr {
    border-bottom: 1px dashed #D0D0D0;
    color: #333333;
    margin-bottom: 0;
    padding: 0 0 10px;
    position: relative;
    text-transform: uppercase;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
}
td.select {
  color: #999999;
  font: 12px 'arial';
  text-align: right;
}
.remark {
    background: url("../../img/body-bg.png") repeat scroll 50% 0 #EEEEEE;
    border-radius: 6px;
    margin:20px 0;
    padding: 20px;
}
.remark textarea {
    color: #666666;
    float: left;
    font: italic 20px 'georgia' !important;
    margin: 0;
    text-shadow: 0 1px 1px #FFFFFF;
    /*width: 410px;*/
    background: none;
}
span.done {
    background: url("../../img/body-bg.png") repeat scroll 50% 0 #CCCCCC;
    border-radius: 6px;
    display: inline-block;
    padding: 4px;
    margin-left: 9px;
    margin-top: 9px;
}